{% extends 'template_usuario.html' %}
{% block corpo %}
<form class="form-signin" action="{% url 'editar' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.errors %}
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{form.non_field_errors}}
    {% endif %}
    <h2 class="form-signin-heading">Editar Perfil</h2>
    <img class="img-rounded" style="width:100%; height:100%" src="../img/{{perfil_logado.foto}}">
    <br/>
    <br/>
    <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome Completo" readonly="true" value="{{perfil_logado.nome}}" required>
    <input class="form-control" type="password" id="senha" name="senha" placeholder="Senha" required>
    <input class="form-control" type="email" id="email" name="email" placeholder="E-mail" value="{{perfil_logado.usuario.email}}" required>
    <input class="form-control" type="date" id="nascimento" name="nascimento" value="{{data}}" required>
    <input class="form-control" type="text" id="empresa" name="empresa" placeholder="Empresa" value="{{perfil_logado.empresa}}" >
    <input class="form-control" type="text" id="telefone" name="telefone" placeholder="Telefone" value="{{perfil_logado.telefone}}" >
    <input class="form-control" type="file" id="foto" name="foto">
    <hr/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Confirmar</button>
</form>

{% endblock %}