{% extends 'template_usuario.html' %}
{% block corpo %}
<form class="form-signin" action="{% url 'registrar' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% if form.errors %}
       <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{form.non_field_errors}}
    {% endif %}
    <h2 class="form-signin-heading">Cadastro</h2>
    <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome Completo" value="{{form.nome.value}}" required>
    <input class="form-control" type="password" id="senha" name="senha" placeholder="Senha" value="{{form.senha.value}}" required>
    <input class="form-control" type="email" id="email" name="email" placeholder="E-mail" value="{{form.email.value}}"  required>
    <input class="form-control" type="date" id="nascimento" name="nascimento" required value="{{form.nascimento.value}}" >
    <input class="form-control" type="text" id="empresa" name="empresa" placeholder="Empresa" value="{{form.empresa.value}}" >
    <input class="form-control" type="text" id="telefone" name="telefone" placeholder="Telefone" value="{{form.telefone.value}}" >
    <input class="form-control" type="file" id="foto" name="foto" value="{{form.foto.value}}">
    <hr/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Confirmar</button>
</form>

{% endblock %}